.get-started {
  .step {
    height: 150px;
    .info {
      @include vertical-align();
    }
  }
  h2.step_number {
    font-weight: bolder;
    line-height: 55px;
    color: #888;
    font-size: 18px;
    margin: 0;
  }
}
