
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootswatch-sass/united/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootswatch-sass/united/bootswatch";
@import "node_modules/font-awesome/scss/font-awesome.scss";

.splash {
  background-image: url('/images/splash.png');
  background-size: cover;
  height: 300px;
  margin-top: -21px;
  .title {
    font-weight: bolder;
    font-size: 4rem;
    color: #fefefe;
    margin-top: 100px;
    small {
      font-size: 2rem;
    }
  }
}

.home {
  margin-top: 55px;
  padding-bottom: 55px;
  border-bottom: 1px solid #cecece;
  h1 {
    margin: 0;
    text-align: center;
  }
}

.footer {
  height: 300px;
  padding-top: 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333333;
}

.install-code {
  font-family: 'Ubuntu Mono';
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
