h3 Users
ul
  li
    a(href="/get-started") Installation
  li Usage
h3 Developers
ul
  li Crafting
  ul
    li Generating a new solution
    li Configuration
    li Metadata
    li Bundles
    ul
      li Pre processing
      li Post processing
      li Post bootstrap
  li Scripting tasks
  ul
    li Processing scripts
    li Core library
    li Examples
