extends ../layout

block splash

block content
  .container.documentation
    .row
      .col-md-12
        h1.page-header <small>conjure-up</small> // Documentation
    .row
      .col-md-12
        h4 Coming soon.
