extends ../layout

block splash

block content
  .container.spells
    .row
      .col-md-12
        h1.page-header <small>conjure-up</small> // Spells
    .row
      .col-xs-12.col-md-12
        table.table.table-bordered
          thead
            th Spell
            th Run
          each spell in spells
            tr
              td
                = spell.name
              td
                pre $ conjure-up #{spell.name}
