extends ../layout

block splash

block content
  .container.tour
    .row
      .col-md-12
        h1.page-header <small>conjure-up</small> // Tour
    .row
      .col-md-6.step
        .info
          h2.text-center.step_header Welcome
      .col-md-6.step
        img(src="welcome.png", class="img-responsive img-thumbnail")
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_header Select a Public Cloud
      .col-md-6.step
        img(src="clouds.png", class="img-responsive img-thumbnail")
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_header Bootstrap the Provider
      .col-md-6.step
        img(src="bootstrap.png", class="img-responsive img-thumbnail")
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_header Easily search the Charmstore to expand and further customize your deployments.
      .col-md-6.step
        img(src="bundle_editor.png", class="img-responsive img-thumbnail")
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_header Deployment Summary
      .col-md-6.step
        img(src="deploy_summary.png", class="img-responsive img-thumbnail")
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_header Instant deployment status notifications
      .col-md-6.step
        img(src="status.png", class="img-responsive img-thumbnail")
