extends layout
block content
  .container.home
    .col-xs-12.col-md-6.col-md-offset-3
      .center-block
        .big-arrow
          i.fa.fa-arrow-down.fa-5
        .well.install-code
          | $ sudo apt install conjure-up<br />
          | $ conjure-up <span class="element"></span>
  .container.home
    .col-xs-12.col-md-6.col-lg-6
      a(href="/images/ss.png")
        img(src="/images/ss.png", class="img-thumbnail img-responsive")
    .col-xs-12.col-md-6.col-lg-6
      p.lead Simple and interactive deployments utilizing the power of Juju.
      h3 Users
      p <strong>conjure-up</strong> is a simplified UX for walking newcomers through complex deployments.
      h3 Developers
      p Creating <strong>conjure-up</strong> packages are easy! They are created and packaged like any other Ubuntu deb package with a few conventions to follow.  A conjure-up package carries the ability to execute scripted tasks at different intervals of the deployment giving you more control over how you customize your solutions.
  .container.home
    .col-xs-12.col-md-12.col-lg-12
      h2 The latest CONJURE-UP news
      a(href="https://insights.ubuntu.com/tag/conjure-up") More CONJURE-UP news from Ubuntu Insights
