extends layout
block content
  .container.home
    .col-xs-12.col-md-6.col-lg-6
      h1 Getting Started
    .col-xs-12.col-md-6.col-lg-6
      well.install-code
        | $ sudo apt install conjure-up
      .install-code
        | $ conjure-up <span class="element"></span>
  .container.home
    .col-xs-12.col-md-4.col-lg-4
      .panel.panel-default
        .panel-heading
          h2 Resources
        ul.list-group
          li.list-group-item Creating conjure-up packages (coming soon)
          li.list-group-item Automating deployments with processing scripts (coming soon)
    .col-xs-12.col-md-4.col-lg-4
      .panel.panel-default
        .panel-heading
          h2 Discussion
        ul.list-group
          li.list-group-item
            a(href="https://askubuntu.com/questions/tagged/conjure-up") AskUbuntu
    .col-xs-12.col-md-4.col-lg-4
      .panel.panel-default
        .panel-heading
          h2 Project
        ul.list-group
          li.list-group-item
            a(href="https://github.com/Ubuntu-Solutions-Engineering/conjure-up") GitHub
          li.list-group-item
            a(href="https://github.com/Ubuntu-Solutions-Engineering/conjure-up/issues") Issues
          li.list-group-item
            a(href="https://github.com/Ubuntu-Solutions-Engineering/conjure-up/wiki") Wiki
