extends layout
block content
  .container.home
    .col-xs-12.col-md-6.col-lg-6
      a(href="/images/ss.png")
        img(src="/images/ss.png", class="img-thumbnail img-responsive")
    .col-xs-12.col-md-6.col-lg-6
      h2 Conjure-up is a power tool for getting started with big software.
      p Conjure-up lets you summon up a big-software stack as a “spell” - a model of the stack, combined with extra know-how to get you from an installed stack to a fully usable one. Start using your big software instead of learning how to deploy it.
      h2 Popular spells
      hr
      h4 Kubernetes
      p  The Canonical Distribution of Kubernetes works across all major public clouds and private infrastructure, enabling your teams to operate Kubernetes clusters on demand, anywhere.
      .install-code
        h4 $ conjure-up kubernetes
      hr
      h4 OpenStack
      p An OpenStack Cloud (Newton release) on Ubuntu 16.04 LTS, providing Dashboard, Compute, Network, Block Storage, Object Storage, Identity and Image services.
      .install-code
        h4 $ conjure-up openstack
