extends ../layout

block splash

block content
  .container.get-started
    .row
      .col-md-12
        h1.page-header <small>conjure-up</small> // Get started
    .row
      .col-md-6.step
        .info
          h2.text-center.step_number 1 Setup your hardware
      .col-md-6.step
        .info
          p For localhost deployments utilizing Juju's LXD provider the following setup is recommended:
          ul
            li 2 cores
            li 16G RAM
            li 32G Swap
            li 250G SSD with a seperate block device for ZFS. Our recommendation for that device is 100G.
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_number 2 Configure LXD
      .col-md-6.step
        .info
          p If you plan on using the LXD provider within Juju a properly configured network bridge is required and optionally(<strong>but highly recommended</strong>) configuring ZFS. Skip if you plan on using any other public cloud.
          .well
            .install-code
              | $ sudo lxd init
          p <span class="label label-info">Note</span> LXD will go through a series of questions including the setup of ZFS and a network bridge. Make sure to utilize your seperate block device for the ZFS pool here.
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_number 3 Install conjure-up
      .col-md-6.step
        .info
          .well
            .install-code
              | $ sudo apt-add-repository ppa:conjure/next<br />
              | $ sudo apt update<br />
              | $ sudo apt install conjure-up
    .row
      hr
      .col-md-6.step
        .info
          h2.text-center.step_number 4 Conjure up a solution
      .col-md-6.step
        .info
          .well
            .install-code
              | $ conjure-up openstack<br />
              | $ conjure-up bigdata
